<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<body>
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand flex align-items-center justify-content-center" th:href="@{/admin}">
        <div class="sidebar-brand-text" style="font-size: larger;">홈페이지 관리</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" th:classappend="${site} == admin ? active">
        <a class="nav-link" th:href="@{/admin}">
            <i class="fas fa-fw fa-home"></i>
            <span>메인화면</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Settings
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item" th:classappend="${site} == faqs ? active">
        <a class="nav-link" th:href="@{/admin/faqs} ">
            <i class="fas fa-fw fa-question"></i>
            <span>홈페이지 FAQ</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item" th:classappend="${site} == accounts ? active">
        <a class="nav-link" th:href="@{/admin/accounts} ">
            <i class="fas fa-fw fa-user"></i>
            <span>관리자 계정</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>
<!-- End of Sidebar -->

</body>
</html>