<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand flex align-items-center justify-content-center" th:if="${url} == admin" th:href="@{/admin}">
        <div class="sidebar-brand-text" style="font-size: larger;">The dog and I</div>
    </a>

    <a class="sidebar-brand flex align-items-center justify-content-center" th:unless="${url} == admin"
       th:href="@{/main}">
        <div class="sidebar-brand-text" style="font-size: larger;">The dog and I</div>
    </a>


    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Nav Item - Dashboard -->
    <li class="nav-item" th:if="${url} == admin" th:classappend="${site} == admin ? active">
        <a class="nav-link" th:href="@{/admin}">
            <i class="fas fa-fw fa-home"></i>
            <span>메인화면</span></a>
    </li>

    <!-- 권한에 따라 분기할려고 if문 만듦 -->
    <li class="nav-item" th:unless="${url} == admin" th:classappend="${site} == main ? active">
        <a class="nav-link" th:href="@{/main}+'/'+${id}">
            <i class="fas fa-fw fa-home"></i>
            <span>메인화면</span>
        </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading1 - 관리자페이지 -->
    <div class="sidebar-heading">
        Settings
    </div>


    <!--    /admin 이 사용하는 사이드바-->
    <!-- Nav Item - FAQ (admin)-->
    <li class="nav-item" th:if="${url} == admin" th:classappend="${site} == faqs ? active">
        <a class="nav-link" th:href="@{/admin/faqs} ">
            <i class="fas fa-fw fa-question"></i>
            <span>홈페이지 FAQ</span></a>
    </li>


    <!-- Nav Item - accounts (admin) -->
    <li class="nav-item" th:if="${url} == admin" th:classappend="${site} == accounts ? active">
        <a class="nav-link" th:href="@{/admin/accounts} ">
            <i class="fas fa-fw fa-user"></i>
            <span>관리자 계정</span></a>
    </li>


    <!-- /main, manager가 사용하는 사이드바, if문은 관리자 계정 페이지에서도 재사용하고 있어서 구분해야함-->
    <!-- 1. Nav Item - 출입관리 (manager)-->
    <!--    현재 사용중인 목록 -->
    <li class="nav-item" th:if="${url} == manager" th:classappend="${site} == usage ? active">
        <a class="nav-link" th:href="@{/manager/usage}+'/'+${id}">
            <i class="fas fa-fw fa-door-open"></i>
            <span>출입 관리</span></a>
    </li>


    <!-- 2. Nav Item - 예약관리 (manager) -->
    <!--    놀이터 예약 현황 관리 + 현장 등록 -->
    <li class="nav-item" th:if="${url} == manager" th:classappend="${site} == reservation ? active">
        <a class="nav-link" th:href="@{/manager/reservation}+'/'+${id}">
            <i class="far fa-fw fa-calendar-alt"></i>
            <span>예약 관리</span></a>
    </li>

    <!-- 3. Nav Item - 기록 (manager) -->
    <li class="nav-item" th:if="${url} == manager" th:classappend="${site} == list ? active">
        <a class="nav-link" th:href="@{/manager/list}+'/'+${id}">
            <i class="fas fa-fw fa-list"></i>
            <span>놀이터 전체 출입 기록</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>
<!-- End of Sidebar -->

</body>
</html>