<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
        <!--empty slot-->
        <div>

        </div>

<!--        divider-->
        <hr class="sidebar-divider my-0">

        <!--sidebar - main-->
        <li class="nav-item active">
            <a class="nav-link" href="admin.html">
                집아이콘<span>메인화면</span>
            </a>
        </li>

        <!--        divider-->
        <hr class="sidebar-divider my-0">

        <!-- sidebar - item header-->
        <div class="sidebar-heading">
            홈페이지 관리
        </div>

        <!-- Nav Item - FAQ -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/faq">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>FAQ 등록 및 수정</span></a>
        </li>

        <!-- Nav Item - Account -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/account">
                <i class="fas fa-fw fa-table"></i>
                <span>계정 관리</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</div>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>