<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container center-contents">
    <div class="center-contents">
        <h1 class="title display-5 text-black" style="text-align: center"> 메인 페이지 </h1>
    </div>
    <div class="links">

        <div class="link center-contents" style="display: flex; justify-content: center">
            <a class="btn btn-outline-secondary" href="/login">
                로그인
            </a>
        </div>

    </div>
</div>
</body>
</html>
